<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Travel Site</title>
</head>
<body>
	<header><img src="/img/logo.jpg" alt="travel site logo" width="200px" height="200px"></header>
	{{{body}}}
</body>
</html>